html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #ACD7E6;  
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
    color: #ACD7E6;
    text-shadow: 3px 3px 1px rgb(6, 87, 107);
}
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
 
body {
    width: 600px;
    margin: 0 auto;
    background-color: #f8e4c9;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  

  
  